---
import Layout from '../layouts/Layout.astro'
import Three from '../components/Three.jsx'
---

<Layout title='BYC'>
	<main class='h-screen flex justify-center bg-slate-500'>
		<Three
			client:load
			title='BYC'
		/>
	</main>
</Layout>
